/* Logo dans le titre */ 

#header img {
    max-height: 150px; /*taille du logo (bouge la taille du bandeau aussi) */ 
    /* transform: translateY(100%); /*permet de modifier la hauteur du logo*/  
}   


/* couleurs titre démonstrateur */ 
.green-text {
    color: #25d366;  /* Le mot "Rennes" sera en vert */
    font-weight: bold;
}

.white-text {
    color: white;  /* Le texte "| Quartier Villejean" sera en blanc */
    font-family: "Gill Sans", sans-serif; 
}

/* mettre la police en gras + pour mettre en itlaique ajouter une balise <em> autour du texte qu'on veut mettre en italique*/ 

.bold-text {
    font-weight: bold;
}

/* bouton accueil */

#accueil {
    background-color: #c54d16; /* Choisir une couleur pour le bouton */
    color: white;
    padding: 5px 10px;
    font-family: "Gill Sans", sans-serif; 
    margin-right: 100%;
    border: none;
    border: white;
    border-radius: 5px;
    cursor: pointer;
}

#accueil:hover {
    background-color: #199b43; /* Couleur du bouton au survol */
}


/*changements de fonds de carte */

/* #menu {
    position: absolute;
    top: 150px;
    left: 5px;
    background: #FF934F;
    padding: 8px; /* taille de la fenêtre de choix *
    z-index: 1000;
    border-radius: 5px;
    box-shadow: 0 0 10px black; 


/* modifier la police du "label" */ 

label.white-text {
    color: white;
    font-family: "Gill Sans", sans-serif; 
}

/*SIDE BAR */

    #menu3 {
        position: absolute;
        top: 170px;
        bottom: 5px;
        right: 5px;
        background: #ffa566;
        font-family: "Gill Sans", sans-serif;
        padding: 15px;  
        z-index: 1000;
        border-radius: 0px;
        box-shadow: 0 0 20px black;
        color: white;
        display: inline-flex; /* Utiliser inline-flex pour adapter la largeur au contenu */
        flex-direction: column; /* Assure que le contenu est empilé verticalement */
    
    }

#menu3 label { /*mettre "label" permet de changer uniquement un élément du menu et pas toute la sélection*/
    display: block; 
    margin-bottom: 15px; 
}

/* Bouton de sélection de critères */

